@import "modules/box-triangle";
@import "modules/button";
@import "modules/_colors";
@import "modules/_line-height";
@import "modules/_margin-padding";
@import "modules/_text-style";

#designers {
  text-align: center;

  /*red box*/
  #designer-intro-box {
    margin: $designer-intro-box-margin;
    @include box($designer-intro-box-letter-space, $box-color, $box-text-color);
    @include triangle($triangle-color);
  }
  @media only screen and (min-width: 925px) {
    #designer-intro-box {
      line-height: $red-box-line-height-big-screen;
    }    
  }
  @media only screen and (max-width: 925px) {
    #designer-intro-box {
      line-height: $red-box-line-height-small-screen;
    }    
  }

  /*meet the folk*/
  #meet-folk {
    color: $meet-the-folks-color;
    margin: $meet-the-folks-margin;
    font-size: $meet-the-folks-font-size;
  }

  /*designer imgs*/  
  #designer-img {
    margin: $designer-img-margin;
    
    /*designer's name*/
    .designer-name {
      color: $designer-name-color;
      margin: $designer-name-margin;
      font-size: $designer-name-font-size;
    }
    /*designer's title*/
    .designer-title {
      margin: $designer-title-margin;
    }

  }
  @media only screen and (min-width: 576px) {
    #designer-img {
      width: 64%;
      img {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 576px) {
    #designer-img {
      img {
        width: 100%;
      }
    }
  }

  /*contact-us button*/
  #contact-us {
    margin: $contact-us-button-margin;
    @include button($contact-us-button-color, $contact-us-text-color);
  }
}