/*------------------------------------------header*/
$header-line-height: 60px;

/*------------------------------------------banner*/
/*web-folk*/
$web-folk-line-height: 80px;
/*dream*/
$dream-line-height: 28px;
/*red-box*/
$red-box-line-height-big-screen: 70px;
$red-box-line-height-small-screen: 30px;
/*button*/
$button-line-height: 40px;

/*------------------------------------------intro-of-us*/
$four-paragraph-div-line-height: 23px;
/*------------------------------------------footer*/
$big-screen-footer-line-height: 100px;
$small-screen-footer-line-height: 30px;