@import "modules/line-height";

@mixin button($button-color, $text-color) {
  width: 250px;
  button {
    background-color: $button-color;
    color: $text-color;
    width: 100%;
    line-height: $button-line-height;
  }
}