/*------------------------------------------color-picker*/
/*cannot be put after those who need this variable*/
/*------------------------------------------header*/
/*------------------------------------------banner*/
/*------------------------------------------designers*/
/*------------------------------------------intro-of-us*/
/*------------------------------------------footer*/
/*------------------------------------------others*/
/*red-box*/
/*dot*/
/*------------------------------------------header*/
/*------------------------------------------banner*/
/*web-folk*/
/*dream*/
/*red-box*/
/*button*/
/*------------------------------------------intro-of-us*/
/*------------------------------------------footer*/
/*------------------------------------------header*/
/*------------------------------------------banner*/
/*web folk & we design studio*/
/*dream*/
/*dot*/
/*------------------------------------------demo*/
/*red box*/
/*------------------------------------------designers*/
/*red box*/
/*meet the folks*/
/*designer image*/
/*designer name*/
/*designer title*/
/*contact us*/
/*------------------------------------------intro-of-us*/
/*left*/
/*paragraph*/
/*dot*/
/*back-to-top button*/
/*---------------------------------------------banner*/
/*web folk*/
/*web design studio*/
/*we dream*/
/*red box*/
/*---------------------------------------------designers*/
/*red box*/
/*meet the folk*/
/*designer name*/
/*---------------------------------------------intro-of-us*/
/*four paragraph*/
/*---------------------------------------------footer*/
#intro-of-us {
  /*background*/
  background-image: url("../images/sea-horse-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  /*so that the long paragraph could still be seen if the width is too small*/
  overflow: auto;
  /*----------------------------------back-to-top button*/
}
#intro-of-us #flex-up-down {
  display: flex;
  /*---------------------------------left, right*/
  /*-------------------------------four paragraph area*/
  /*only on big screen set the width*/
  /*-----------------------------------dot*/
}
#intro-of-us #flex-up-down * {
  /*set all paragraph element center of the width*/
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  #intro-of-us #flex-up-down #left {
    align-self: flex-start;
    margin: 0 auto 300px;
  }
  #intro-of-us #flex-up-down #right {
    align-self: flex-end;
  }
}
#intro-of-us #flex-up-down #what-we-do h1, #intro-of-us #flex-up-down #how-we-work h1, #intro-of-us #flex-up-down #who-we-are h1, #intro-of-us #flex-up-down #what-we-believe h1 {
  font-size: 45px;
  font-family: "Big Caslon";
  margin: 60px auto 0;
  letter-spacing: 5px;
}
#intro-of-us #flex-up-down #what-we-do div, #intro-of-us #flex-up-down #how-we-work div, #intro-of-us #flex-up-down #who-we-are div, #intro-of-us #flex-up-down #what-we-believe div {
  margin: 20px 0;
  line-height: 23px;
}
@media only screen and (min-width: 992px) {
  #intro-of-us #flex-up-down #what-we-do, #intro-of-us #flex-up-down #how-we-work, #intro-of-us #flex-up-down #who-we-are, #intro-of-us #flex-up-down #what-we-believe {
    width: 410px;
  }
}
#intro-of-us #flex-up-down #dot-horizontal {
  text-align: center;
  /*center the dot in the block*/
}
#intro-of-us #flex-up-down #dot-horizontal div {
  display: inline-flex;
  /*make the dot horizontal*/
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: auto 10px;
}
@media only screen and (min-width: 992px) {
  #intro-of-us #flex-up-down #dot-horizontal {
    margin: 120px auto 0;
  }
}
@media only screen and (max-width: 992px) {
  #intro-of-us #flex-up-down #dot-horizontal {
    margin: 60px auto 0;
  }
}
#intro-of-us #back-to-top {
  margin: 100px auto 25px;
  width: 250px;
}
#intro-of-us #back-to-top button {
  background-color: white;
  color: black;
  width: 100%;
  line-height: 40px;
}
