/*------------------------------------------color-picker*/
/*cannot be put after those who need this variable*/
/*------------------------------------------header*/
/*------------------------------------------banner*/
/*------------------------------------------designers*/
/*------------------------------------------intro-of-us*/
/*------------------------------------------footer*/
/*------------------------------------------others*/
/*red-box*/
/*dot*/
/*------------------------------------------header*/
/*------------------------------------------banner*/
/*web-folk*/
/*dream*/
/*red-box*/
/*button*/
/*------------------------------------------intro-of-us*/
/*------------------------------------------footer*/
/*------------------------------------------header*/
/*------------------------------------------banner*/
/*web folk & we design studio*/
/*dream*/
/*dot*/
/*------------------------------------------demo*/
/*red box*/
/*------------------------------------------designers*/
/*red box*/
/*meet the folks*/
/*designer image*/
/*designer name*/
/*designer title*/
/*contact us*/
/*------------------------------------------intro-of-us*/
/*left*/
/*paragraph*/
/*dot*/
/*back-to-top button*/
#navigation {
  background-color: #260421;
}
#navigation ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  line-height: 60px;
}
#navigation ul a {
  margin: auto 15px;
}
#navigation ul a:visited {
  color: white;
}
#navigation ul #active {
  color: #9b2242;
}
