/*------------------------------------------color-picker*/
$pink-red: #f4225a; /*cannot be put after those who need this variable*/

/*------------------------------------------header*/
$header-bg-color: #260421;
$header-link-color: white;
$header-active-color: #9b2242;

/*------------------------------------------banner*/
$banner-text-color: white;

/*------------------------------------------designers*/
$meet-the-folks-color: $pink-red;
$designer-name-color: $pink-red;
$contact-us-button-color: black;
$contact-us-text-color: white;

/*------------------------------------------intro-of-us*/
$intro-of-us-text-color: white;
$back-to-top-button-color: white;
$back-to-top-text-color: black;

/*------------------------------------------footer*/
$footer-bg-color: rgb(179, 179, 179);
$footer-link-color: rgb(248, 29, 102);


/*------------------------------------------others*/
/*red-box*/ 
$triangle-color: $pink-red;
$box-color: $pink-red;
$box-text-color: white;
/*dot*/
$dot-color: white;