/*------------------------------------------header*/
$header-element-margin: auto 15px;

/*------------------------------------------banner*/
/*web folk & we design studio*/
$web_folk-studio-padding: 120px 0;
/*dream*/
$dream-margin: 0 auto;
/*dot*/
$dot-vertical-outside-margin: 50px 0 120px 0;
$dot-vertical-between-margin: 20px auto 3px;

/*------------------------------------------demo*/
/*red box*/
$work-client-margin: 0 auto;

/*------------------------------------------designers*/
/*red box*/
$designer-intro-box-margin: 100px 0 30px;
/*meet the folks*/
$meet-the-folks-margin: 45px 0;
/*designer image*/
$designer-img-margin: 0 auto;
/*designer name*/
$designer-name-margin: 16px auto 0;
/*designer title*/
$designer-title-margin: 0 auto 30px;
/*contact us*/
$contact-us-button-margin: 20px auto 50px;

/*------------------------------------------intro-of-us*/
/*left*/
$left-paragraph-margin: 0 auto 300px;
/*paragraph*/
$four-paragraph-outside-margin: 0 auto;
$four-paragraph-h1-margin: 60px auto 0;
$four-paragraph-div-margin: 20px 0;
/*dot*/
$dot-horizontal-outside-margin-big-screen: 120px auto 0;
$dot-horizontal-outside-margin-small-screen: 60px auto 0;
$dot-horizontal-between-margin: auto 10px;
/*back-to-top button*/
$back-to-top-button-margin: 100px auto 25px;
