/*---------------------------------------------banner*/
/*web folk*/
$web-folk-font-size: 60px;
$web-folk-letter-space: 5px;
$web-folk-font-family: "Big Caslon";

/*web design studio*/
$studio-font-size: 30px;
$studio-letter-space: 7px;
$studio-font-family: "Big Caslon";

/*we dream*/
$dream-font-size: 23px;
$dream-letter-space: 2px;
$dream-font-family: "Big Caslon";

/*red box*/
$box-font-size: 20px;
$banner-box-letter-space: 5px;

/*---------------------------------------------designers*/
/*red box*/
$designer-intro-box-letter-space: 2px;

/*meet the folk*/
$meet-the-folks-font-size: 25px;

/*designer name*/
$designer-name-font-size: 50px;

/*---------------------------------------------intro-of-us*/
/*four paragraph*/
$four-paragraph-h1-font-size: 45px;
$four-paragraph-h1-font-family: "Big Caslon";
$four-paragraph-h1-letter-space: 5px;

/*---------------------------------------------footer*/
$footer-font-size: 17px;