/*------------------------------------------color-picker*/
/*cannot be put after those who need this variable*/
/*------------------------------------------header*/
/*------------------------------------------banner*/
/*------------------------------------------designers*/
/*------------------------------------------intro-of-us*/
/*------------------------------------------footer*/
/*------------------------------------------others*/
/*red-box*/
/*dot*/
/*---------------------------------------------banner*/
/*web folk*/
/*web design studio*/
/*we dream*/
/*red box*/
/*---------------------------------------------designers*/
/*red box*/
/*meet the folk*/
/*designer name*/
/*---------------------------------------------intro-of-us*/
/*four paragraph*/
/*---------------------------------------------footer*/
/*------------------------------------------header*/
/*------------------------------------------banner*/
/*web-folk*/
/*dream*/
/*red-box*/
/*button*/
/*------------------------------------------intro-of-us*/
/*------------------------------------------footer*/
/*------------------------------------------header*/
/*------------------------------------------banner*/
/*web folk & we design studio*/
/*dream*/
/*dot*/
/*------------------------------------------demo*/
/*red box*/
/*------------------------------------------designers*/
/*red box*/
/*meet the folks*/
/*designer image*/
/*designer name*/
/*designer title*/
/*contact us*/
/*------------------------------------------intro-of-us*/
/*left*/
/*paragraph*/
/*dot*/
/*back-to-top button*/
#designers {
  text-align: center;
  /*red box*/
  /*meet the folk*/
  /*designer imgs*/
  /*contact-us button*/
}
#designers #designer-intro-box {
  margin: 100px 0 30px;
  background-color: #f4225a;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
}
#designers #designer-intro-box:after {
  content: "";
  position: absolute;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid #f4225a;
  transform: rotate(-180deg) translate(50%);
  left: 50%;
  top: 99%;
  z-index: 1;
  /*put the pseudo element on the top of all elements*/
}
@media only screen and (min-width: 925px) {
  #designers #designer-intro-box {
    line-height: 70px;
  }
}
@media only screen and (max-width: 925px) {
  #designers #designer-intro-box {
    line-height: 30px;
  }
}
#designers #meet-folk {
  color: #f4225a;
  margin: 45px 0;
  font-size: 25px;
}
#designers #designer-img {
  margin: 0 auto;
  /*designer's name*/
  /*designer's title*/
}
#designers #designer-img .designer-name {
  color: #f4225a;
  margin: 16px auto 0;
  font-size: 50px;
}
#designers #designer-img .designer-title {
  margin: 0 auto 30px;
}
@media only screen and (min-width: 576px) {
  #designers #designer-img {
    width: 64%;
  }
  #designers #designer-img img {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  #designers #designer-img img {
    width: 100%;
  }
}
#designers #contact-us {
  margin: 20px auto 50px;
  width: 250px;
}
#designers #contact-us button {
  background-color: black;
  color: white;
  width: 100%;
  line-height: 40px;
}
