@import "modules/box-triangle";
@import "modules/_colors";
@import "modules/_line-height";
@import "modules/_margin-padding";
@import "modules/_text-style";

#clients {
  position: relative;

  /*red box*/
  #work-client {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: auto;
    #red-box {
      line-height: $red-box-line-height-big-screen;
      margin: $work-client-margin;
      @include box($banner-box-letter-space, $box-color, $box-text-color);
      @include triangle($triangle-color);
    }
  }
  @media only screen and (min-width: 576px) {
    #work-client {
      width: 376px;
    }
  }

  /*images*/
  #demo {
    font-size: 0;
    img {
      width: 100%;
    }
  }
}