@import "modules/_colors";
@import "modules/_line-height";
@import "modules/_text-style";

@media only screen and (min-width: 413px) {
  #copyright {
    line-height: $big-screen-footer-line-height;
  }
}
@media only screen and (max-width: 413px) {
  #copyright {
    line-height: $small-screen-footer-line-height;
  }
}
#copyright {
  background-color: $footer-bg-color;
  text-align: center;
  font-size: $footer-font-size;
  a:visited {
    color: $footer-link-color;
  }
}