@import "modules/_colors";
@import "modules/_line-height";
@import "modules/_margin-padding";

#navigation {
  background-color: $header-bg-color;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    line-height: $header-line-height;
    a {
      margin: $header-element-margin;
      &:visited {
        color: $header-link-color;
      }
    }
    #active {
      color: $header-active-color;
    }
  }
}